<section class="container">
  <div class="row register-container">
    <div class="register-info">
      <h1 class="title">Signup</h1>
      <p class="desc">We do not share your person details with anyone.</p>
    </div>
    <div class="register-form">
      <form id="regForm">

        <div class="form-floating mb-1">
          <input type="text" class="form-control" id="regFirstname" name="FirstName" placeholder="First Name" required>
          <label for="regFirstname">First Name</label>
        </div>

        <div class="form-floating mb-1">
          <input type="text" class="form-control" id="regLastname" name="LastName" placeholder="Last Name" required>
          <label for="regLastname">Last Name</label>
        </div>

        <div class="form-floating mb-1">
          <input type="email" class="form-control" id="regEmail" name="email" placeholder="Email" required>
          <label for="regEmail">Email</label>
        </div>

        <div class="form-floating mb-1">
          <input type="password" class="form-control" id="regPassword" name="password" placeholder="Password" required>
          <label for="regPassword">Password</label>
        </div>

        <div class="form-floating mb-2">
          <input type="password" class="form-control" id="regConfirmPassword" name="password" placeholder="Confirm Password" required>
          <label for="regConfirmPassword">Confirm Password</label>
        </div>

        <button class="btn register-btn" type="submit">Signup</button>
      </form>
    </div>
  </div>
</section>